* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cormorant Garamond", serif;
}
body {
  background: #490700;
}
.quote-box {
  background-color: #ffffffc0;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.15);
}
.quote-box h2 {
  font-size: 40px;
  margin-bottom: 40px;
  position: relative;
}
.quote-box h2::after {
  content: "";
  width: 75px;
  height: 3px;
  border-radius: 3px;
  background: rgb(0, 0, 0, 0.8);
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}
.quote-box blockquote {
  font-size: 30px;
  min-height: 110px;
}

.quote-box blockquote::before,
.quote-box blockquote::after {
  content: '"';
}
.quote-box span {
  font-size: 23px;
  display: block;
  margin-top: 10px;
  float: right;
  position: relative;
}
.quote-box span::before {
  content: "";
  width: 20px;
  height: 2px;
  background: rgb(0, 0, 0, 0.8);
  position: absolute;
  top: 50%;
  left: -30px;
}
.quote-box div {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.quote-box button {
  background: rgb(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 25px;
  border: 1px solid rgb(0, 0, 0, 0.8);
  outline: none;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  cursor: pointer;
  font-size: 20px;
}
.quote-box button img {
  width: 20px;
  margin-right: 10px;
}
.quote-box button:nth-child(2) {
  background: transparent;
  color: #333;
}
footer {
  width: 100%;
  text-align: center;
  font-size: 23px;
  padding: 20px 0;
  position: fixed;
  color: #ebfffc;
  bottom: 0;
  left: 0;
  background: #141e30;
}
footer a {
  color: #00feba;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}

@media (min-width: 480px) {
  .quote-box {
    width: 80%;
  }
  .quote-box h2 {
    font-size: 28px;
  }

  .quote-box blockquote {
    font-size: 22px;
    min-height: 90px;
  }

  .quote-box span {
    font-size: 16px;
  }

  .quote-box button {
    font-size: 16px;
    width: 120px;
    height: 40px;
  }

  .quote-box button img {
    width: 16px;
  }
  footer {
    font-size: 14px;
    padding: 15px 0;
  }
}

@media (min-width: 768px) {
  .quote-box {
    width: 80%;
    padding: 40px;
  }

  .quote-box h2 {
    font-size: 40px;
    margin-bottom: 40px;
  }

  .quote-box h2::after {
    width: 75px;
    height: 3px;
  }

  .quote-box blockquote {
    font-size: 30px;
    min-height: 110px;
  }

  .quote-box span {
    font-size: 23px;
  }

  .quote-box div {
    margin-top: 50px;
  }

  .quote-box button {
    font-size: 20px;
    width: 150px;
    height: 50px;
  }

  .quote-box button img {
    width: 20px;
  }
  footer {
    font-size: 14px;
    padding: 15px 0;
  }
}
